@model SportsStore.services.GetCartInfoResponse
@{
    ViewData["Title"] = "InsideCart";
}

<h1 style="text-align:center">Cart</h1>

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>Count</th>
            <th>Price</th>
            <th>TotalPrice</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartInfo)
        {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Count</td>
            <td>@item.Price</td>
            <td>@item.TotalPrice</td>
        </tr>
        }
    </tbody>
</table>
<h3>TotalPrice - @Model.TotalPriceOfCart</h3>
<div style="text-align:right">
    <a asp-controller="Home" asp-action="DeleteCart"><button class="btn btn-danger" type="submit">Clear</button></a>

    <a asp-area="" asp-controller="Home" asp-action="CheckOut"><button class="btn btn-success" type="submit">Next</button></a>
</div>

